/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.montserrat,* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.loader-container {
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .loader {
      border-radius: 50%;
      -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
  }
  
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }
  
    @keyframes spin {
      0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
    }

.cell {
    background-color: var(--accent-transp);
    padding: .1rem .5rem;
    color: var(--accent);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
    font-size: .8rem;
}

.cell-red {
    background-color: rgba(255, 0, 0,.2);
    padding: .1rem .5rem;
    color: var(--accent);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 20px;
    color: red;
    font-size: .8rem;
}

.cell-red svg *:not(rect:first-of-type) {
  stroke: red;
}

.placeholder {
  height: 100%;
}

.custom-scrollbar::-webkit-scrollbar{
  width: .5rem;
  background-color: var(--bg);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--accent);
}

.custom-scrollbar::-webkit-scrollbar-button {
  background-color: #111314;
}

.for-mobile {
  display: none;
}

button:disabled,
button.disabled-button,
.no-state-button {
  padding: 0.5rem 0.8rem;
  border-radius: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  text-decoration: none;

  cursor: pointer;
}

button:disabled svg,
button.disabled-button svg,
.no-state-button svg {
  height: 18px;
}

.no-state-button {
  color: var(--light) !important;
  background-color: var(--accent);
  cursor: pointer;
  border: 0.8px solid var(--accent);
}

button:disabled,
button.disabled-button {
  background-color: #29ea5a;
  color: var(--light);
  cursor: default;
  border: 0.8px solid #29ea5a;
}

.no-state-button:hover {
   background-color: transparent;
  color: var(--accent) !important;
}

.danger {
  padding: 0.5rem 0.8rem;
  border-radius: 2px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 0.9rem;
  color: var(--light);
  background-color: red;
  cursor: pointer;
  border: 0.8px solid red;
  -webkit-transition: 0.4s ease-out;
  -o-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
}

.danger:hover {
  background-color: transparent;
  color: red;
}

.action-icon {
  height: 30px;
  width: 30px;
  background-color: #EEE;
  border-radius: 50%;
  cursor: pointer;
}

.action-icon svg {
  height: 18px;
}

.action-icon:hover {
  background-color: var(--accent);
}

.action-icon:hover svg {
  stroke: #FFF;
}

.action-icon.ok {
  background-color: rgb(41, 234, 90,.1);
}

.action-icon.ok svg {
  stroke: var(--accent);
}

.action-icon.ok:hover {
  background-color: var(--accent);
}

.action-icon.ok:hover svg {
  stroke: var(--light);
}

.action-icon.no {
  background-color: rgba(255, 0, 0,.1);
}

.action-icon.no svg {
  stroke: red;
}


.action-icon.no:hover {
  background-color:red;
}

.action-icon.no:hover svg {
  stroke: var(--light);
}


ul,ol {
  width: 80%;
  margin: auto;
}

strong {
  font-weight: bold;
}

.hide-toast-message {
  background-color: transparent;
  cursor: pointer;
}

.hide-toast-message svg {
  height: 20px;
}

.hide-toast-message svg *:not(rect) {
  stroke: #FFF;
}

.go167266335.toast-message {
  background-color: var(--bg);
  padding: .2rem .8rem;
  font-size: .8rem;
}

i {
  font-style: italic;
}